.col-sm-3.clearix {
    clear: both;
}
.page-header{margin:80px 0 20px ;}
.detail {
    padding-bottom:25px;
}
.detail p{
    margin: 4px 0 4px 0;
    color: #999;
    font-size: 11px;
    font-weight: 400;
    padding: 5px 0px;
}

.detail p span{
    font-weight: 600;
    font-size: 13px;
    margin-top: 7px;
    color: #4a4848;
}
.nbCheckbox.btnFilter input[type=checkbox] {
    width: 0;
}

.nbCheckbox input[type=checkbox], .nbRadio input[type=checkbox], .nbRadio input[type=radio] {
    visibility: hidden;
}
.nbCheckbox.btnFilter input[type=checkbox]:checked+label {
    background: #009587;
    color: #fff;
}

.newFilters .nbCheckbox label {
    border-radius: 0;
}
.nbCheckbox.btnFilter label {
    width: auto;
    height: auto;
    position: static;
    display: inline-block;
    padding: 3px 8px;
    font-weight: 500;
    font-size: 13px;
    border: none;
    background: #f8f8f8;
}
.newFilters .filterPanel.header {
    margin: 0;
    padding: 10px 15px;
    border-bottom: solid 1px #E1E1E1;
}
.newFilters .filterPanel {
    padding: 7px 5px;
    margin: 0;
    border-bottom: none;
}
.filterPanel {
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E1E1E1;
    font-size: 14px;
    float: left;
    width: 100%;
}
#advancedFilters, #filterPanelForm {
    padding: 0 10px;
}
#filterPanelForm, .priceRangeGroup {
    display: inline-block;
}
body {
    background-color:#efefef;
}

.filter-section{
    clear: both;
    padding: 10px;
}
.nbCheckbox {
    position: relative;
    margin-top: 15px;
    display: inline-block;
}
.newFilters .filterPanel {
    padding: 7px 5px;
    margin: 0;
    border-bottom: none;
}
.filterPanel {
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E1E1E1;
    font-size: 14px;
    float: left;
    width: 100%;
}
.filterPanel .filterPanelHeader {
    font-weight: 400;
    display: block;
}